{% extends "layouts/main.html" %}

{% block content%}

<style>
    .container ul {
        padding: 0;
        /* remove default padding and all margins! */
        margin: 0;
        list-style-type: none;
        /* remove the • */
    }

    .container ul li {
        margin-left: 100px;
        width: 150px;
        height: 100px;
        float: left;
    }

    .container ul {
        display: listitem;
    }

    .button {
        transition-duration: 0.4s;
    }

    .button:hover {
        background-color: #4CAF50;
        /* Green */
        color: white;
    }
</style>

<form action="{{ url_for('edit_candidate') }}" method="POST">
    <p>Candidate {{candidateToUpdate.name}}'s ID: {{candidateToUpdate.id}}
        <input type="hidden" name="candidate_id" value="{{candidateToUpdate.id}}" />
    </p>

    <p>Update {{candidateToUpdate.name}}'s Name <input type="text" name="candidate_name"
            value="{{candidateToUpdate.name}}" />

    </p>
    <p>Update {{candidateToUpdate.name}}'s Email <input type="text" name="candidate_email"
            value="{{candidateToUpdate.email}}" /></p>
    <p><input type="submit" name="submit" value="Submit" id="{{candidateToUpdate.id}} " /></p>
    <br>
    <input type="button" value="Back" onclick="history.back()">

</form>



{% endblock %}