{% extends "layouts/main.html" %}

{% block content%}

<style>
    .container ul {
        padding: 0;
        /* remove default padding and all margins! */
        margin: 0;
        list-style-type: none;
        /* remove the • */
    }

    .container ul li {
        margin-left: 100px;
        width: 150px;
        height: 100px;
        float: left;
    }

    .container ul {
        display: listitem;
    }
</style>

<form action="{{ url_for('edit_candidate') }}" method="POST">
    <p>Update {{candidateToUpdate.name}}'s Name <input type="text" name="candidate_name"
            value="{{candidateToUpdate.name}}" />
    </p>
    <p>Update {{candidateToUpdate.name}}'s Email <input type="text" name="candidate_email"
            value="{{candidateToUpdate.email}}" /></p>
    <p><input type="submit" name="submit" value="Submit" /></p>

</form>
</form>


{% endblock %}