{% extends "layouts/main.html" %}

{% block content%}

</body>
<h1>{{greetings}}</h1>
<h5>{{detail}}</h5>


<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
       <input id="id_ok" class="btn btn-space" value="Make a Quiz" type="button" onclick="location.href='/makeQuiz';">
</div>

<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
       <input id="id_ok2" class="btn btn-space" value="Review Candidate Results" type="button"
              onclick="location.href='/results';">
       <input id="id_cancel2" class="btn btn-space" value="Compare All Results" type="button"
              onclick="location.href='/allresults';">
</div>

</body>

{% endblock %}