

{% extends "layouts/main.html" %}

{% block content%}

<div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
<img src={{image2}} align="middle" class="responsive" />
</div>

</body>
<div style="display:flex; flex-direction: row; justify-content: center; align-items: center"
     xmlns:flex-direction="http://www.w3.org/1999/xhtml">
    <label for="Student">Name:</label>
    <input name="Student" />
</div>

<h5>{{greetings}}</h5>

<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
<img src={{image3}} align="middle" class="responsive" />
</div>

<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
    <label for="QUIZKey1">Quiz Key 1:</label>
    <h4>{{dobie}}</h4>
</div>
<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
    <label for="QUIZKey2">Quiz Key 2:</label>
    <h4>{{dibs}}</h4>
</div>


<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
<input id="id_ok" class="btn btn-space" value="Employers" type="button"
       onclick="location.href='/client';">
<input id="id_cancel" class="btn btn-space" value="Candidates" type="button" onclick="location.href='/client';">

</div>


</body>

{% endblock %}