

{% extends "layouts/main.html" %}

{% block content%}

</body>
<div style="display:flex; flex-direction: row; justify-content: center; align-items: center"
     xmlns:flex-direction="http://www.w3.org/1999/xhtml">
    <label for="Student">Name:</label>
    <input name="Student" />
</div>
<h5>{{greetings}}</h5>
<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
    <label for="QUIZKey1">Quiz Key 1:</label>
    <h4>{{dobie}}</h4>
</div>
<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
    <label for="QUIZKey2">Quiz Key 2:</label>
    <h4>{{dibs}}</h4>
</div>
<button type="button" href="templates\homie2.html">Click Me!</button>
<a href="/client" target=“_blank”>This is a link</a>
<
</body>

{% endblock %}