{% extends "layouts/main.html" %}

{% block content%}

<style>
    .container ul {
        padding: 0;
        /* remove default padding and all margins! */
        margin: 0;
        list-style-type: none;
        /* remove the • */
    }

    .container ul li {
        margin-left: 100px;
        width: 150px;
        height: 100px;
        float: left;
    }

    .container ul {
        display: listitem;
    }
</style>
<div>
    Select Candidate to Delete
</div>
{% for candidate in candidates %}
<div class="container"></div>
<tr>
    <td>
        <input form="candidateToDelete" type="radio" name="candidateToDelete" value="{{candidate.id}}" />
    </td>
    <ul>
        <li>{{candidate.id}}</li>
        <li>{{candidate.name}}</li>
        <li>{{candidate.email}}</li>
    </ul>
</tr>
<br>
{% endfor %}
<form id="candidateToDelete" name="candidateToDelete" method="POST"
    action="{{ url_for('delete_candidate', candidateToDelete=candidateToDelete) }}">
    <button type="submit">Delete Candidate</button>
</form>

{% endblock %}