{% extends "layouts/main.html" %}

{% block content%}

<style>
    .container th,
    tr {
        text-align: left;
        grid-template-rows: auto;
    }
</style>
<div>
    <h2>Select Candidate to Delete</h2>
</div>
<div class="container">

    <table style="width:100%">
        <thead>
            <tr>
                <th style="text-align:right"></th>
                <th style="text-align:right">ID</th>
                <th style="text-align:right">Name</th>
                <th style="text-align:right">Email</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                {% for candidate in candidates %}
            <tr>
                <td><input form="candidateToDelete" type="radio" name="candidateToDelete" value="{{candidate.id}}" />
                </td>
                <td style="text-align:right">{{candidate.id}}</td>
                <td style="text-align:right">{{candidate.name}}</td>
                <td style="text-align:right">{{candidate.email}}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>
</div>
<br>
<br>
<form id="candidateToDelete" name="candidateToDelete" method="POST"
    action="{{ url_for('delete_candidate', candidateToDelete=candidateToDelete) }}">
    <button type="submit">Delete Candidate</button>
    <input type="button" value="Employer Home" onclick="history.back()">

</form>

{% endblock %}