{% extends "layouts/main.html" %}

{% block content%}
<div>
    Select Questions for Quiz ID: {{ quiz.id }}
</div>
<table>
    <thead>
        <tr>
            <th>Select</th>
            <th>ID</th>
            <th>Category</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Option 3</th>
        </tr>
    </thead>
    {% for question in questions %}
    <tr>
        <td>
            <input form="questionsToAdd" type="checkbox" name="questions" value="{{question.question_id}}" />
        </td>
        <td>{{question.question_id}}</td>
        <td>{{question.question_label}}</td>
        <td>{{question.question_text}}</td>
        <td>{{question.answer}}</td>
        <td>{{question.options1}}</td>
        <td>{{question.options2}}</td>
        <td>{{question.options3}}</td>

    </tr>

    {% endfor %}

</table>

<form
        id="questionsToAdd"
        name="questionsToAdd"
        method="POST"
        action="{{ url_for('add_questions', candidate_id=candidate.id, quiz_id=quiz.id) }}"
>
    <button type="submit">Add Questions To Quiz {{ quiz.id }}</button>
</form>

{% endblock %}

<!--            question_id=qnum,-->
<!--            question_label=eachQ['category'],-->
<!--            question_text=eachQ['question'],-->
<!--            answer=eachQ['correct_answer'],-->
<!--            options=str(eachQ['-->